.main_block {
  max-width: 800px;
  padding: 15px 35px;
  margin: 45px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
}

.main_table {
  margin: 20px auto;
}

.table_items {
  th {
    margin-right: 50px;
  }
}