<body class="body_bg">
  <main class="main_products">
    <h1 class="h_reg">Editing Expense</h1>

    <%= render 'form', expense: @expense %>

    <br>

    <div class="moder_show_btns">
      <%= link_to 'Show', @expense %>
      <%= link_to 'Back', expenses_path %>
    </div>
  </main>
</body>
