<body class="body_bg">
  <main class="main_products">
    <h1 class="h_reg">New Expense</h1>

    <%= render "form", expense: @expense %>

    <br>

    <div style="display: flex; justify-content: center">
      <%= link_to "Back", expenses_path %>
    </div>
  </main>
</body>
